doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Famous Memory
    link(rel='stylesheet', href='/style.css')
  body
    #controls
     button#begin BEGIN
     #timing(data-time='60') 
    #gamespot  
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/lodash/lodash.js')
    script(src='/main.js')
    script(src='/models/box.js')
